<h1 class="text-center m-3">#Ekip :</h1>
<h4 class="text-center mb-5">Voici notre équipe de choc : </h2>
<div class="card-deck d-flex justify-content-around">
  <div class="card" style="max-width: 20rem;">
    <img class="card-img-top" src="https://vignette.wikia.nocookie.net/gossipgirl/images/a/a7/SerenaInfobox.jpg/revision/latest?cb=20200318020521" >
    <div class="card-body">
      <h5 class="card-title text-center">Jules Texier</h5>
    </div>
  </div>
  <div class="card" style="max-width: 20rem;">
    <img class="card-img-top" src="https://i.pinimg.com/originals/73/fe/0a/73fe0a43f8b9b271cdc58166afe53037.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">Dylan Pecqueux</h5>
    </div>
  </div>
</div>
