// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#contact {
  background-image: url(contact_image.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: absolute;
  min-height: 100vh;
}