// Place all the styles related to the gossips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#jumbotron-gossip {
  height: 700px;
  background-image: url(comerage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

#transparent {
  background: rgba(17, 48, 58, 0.9); /* Green background with 30% opacity */
}
