#jumbotron-hero {
  background-image: url(home_image.jpg);
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-position: top;
  background-size: cover;
  min-height: 100vh;
}

#button {
  background: rgba(17, 48, 58, 0.9);
  max-width: 20rem;
}

#alert {
  background: rgba(17, 48, 58, 0.9);
}
