#jumbotron-form {
  height: 700px;
  background-image: url(comerage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#transparent {
  background: rgba(17, 48, 58, 0.9); /* Green background with 30% opacity */
}